html{
	background-color: #364371;
}

.copyright{
	background-color: #364371;
}

h1{
	text-align: center;
}

#nav{
	float: left;
	text-align: center;
	width: 150px;
	margin-left: 100px;
	margin-right: 50px;
	margin-bottom: 800px;
	margin-top: 0px;
	background-color: #b0cfff;
}

#wrap{
	width: 750px;
}

#content{
	background-color: #5b7fbd;
	margin-left: 250px;
}


ul {
	list-style: none;
	text-align: center;
	padding: 13px;



